# Social Media Analytics -- Twitter Scraping

Get your Twitter API

API: Application Program Interface

API is a set of programming instructions and protocol for accessing the data available through online companies such as Twitter, Facebook, Youtube, Google, and many others (New York Times)
it is called a software-to-software interface.

# Tweepy

**install the library**

!pip install tweepy

https://anaconda.org/conda-forge/tweepy

In [6]:
import tweepy
import pandas as pd

In [7]:
# put your credential API information here (do not share your API to the public)
# API Consumer Key and Secret from Twitter
api_key = "WsEUv6afCiNthkSLWHIHn8yUM"
api_secret = "jtg2kd1CFL1txDao6NouIUO7xZzCXSM4yiP4WyuiiqQ50qTtjf"

access_token = "1564294883636088838-jhUHzc9xuIH9WMu6wCPahsWM4LiwaG"
access_token_secret = "vM6EmVcxk3L94D1bVQz19MliIUcSW5uA9660IZk1FQken"

# authentication
auth = tweepy.OAuthHandler(api_key, api_secret)
auth.set_access_token(access_token, access_token_secret)

api = tweepy.API(auth,wait_on_rate_limit=True)

## Example 1: search tweets with specific keywords or usernames

In [21]:
# for status in tweepy.Cursor(api.search_tweets,q="KStateBusiness",
#                             until='2022-10-11', #Twitter will automatically sample the last 7 days of data, and only allows you to get 7-day data
#                             result_type='recent',
#                             include_entities=True,
#                             tweet_mode='extended', #otherwise it only captures 140 characters
#                             lang="en").items(5):
#     print(type(status), status) #please do not print all of the contents to the lab assignment submission, this is just for an illustration in class

In [9]:
dir(status)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__slots__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_api',
 '_json',
 'author',
 'contributors',
 'coordinates',
 'created_at',
 'destroy',
 'display_text_range',
 'entities',
 'favorite',
 'favorite_count',
 'favorited',
 'full_text',
 'geo',
 'id',
 'id_str',
 'in_reply_to_screen_name',
 'in_reply_to_status_id',
 'in_reply_to_status_id_str',
 'in_reply_to_user_id',
 'in_reply_to_user_id_str',
 'is_quote_status',
 'lang',
 'metadata',
 'parse',
 'parse_list',
 'place',
 'retweet',
 'retweet_count',
 'retweeted',
 'retweeted_status',
 'retweets',
 'source',
 'source_url',
 'truncated',
 'user']

``From the above status json data``:

_json={'created_at': 'Fri Sep 23 20:03:09 +0000 2022', 'id': 1573402612644413497, 'id_str': '1573402612644413497', 'full_text': 'RT @KStateBusiness: Shout out to @kstatecareer for bringing outstanding opportunities to our business students! At the All-University Caree‚Ä¶', 'truncated': False, 'display_text_range': [0, 140],

In [11]:
for status in tweepy.Cursor(api.search_tweets,q="KStateBusiness",
                            until='2022-10-11', #Twitter will automatically sample the last 7 days of data, and only allows you to get 7-day data
                            result_type='recent',
                            include_entities=True,
                            tweet_mode='extended', #otherwise it only captures 140 characters
                            lang="en").items(5):
    
    post_time = status.created_at # tweets posting time
    tweet_id = status.id_str # gets the tweets thread ID
    tweet = status.full_text # gets the tweets texts

    print(post_time, tweet_id, tweet)

2022-10-10 16:47:02+00:00 1579513851384852482 We can't wait to hear your ideas for new venture projects at K-State Launch! Learn more about this event, and get ready to share your plans! üëâ üëâ https://t.co/Qd7D1p8O5a https://t.co/blIriQRPYu
2022-10-08 21:21:27+00:00 1578858135539789825 RT @EPedersenKS: Love being a part of this board. Engaged, smart group not afraid to challenge and give positive input. @StartupCats @KStat‚Ä¶
2022-10-08 00:24:03+00:00 1578541696794517504 Love being a part of this board. Engaged, smart group not afraid to challenge and give positive input. @StartupCats @KStateIP @KStateBusiness @DanePedersen401 @DreilingHCI @CivicPlus @jacksonchad @ecomm_ks @networkkansas @MHKChamber @goventuredash https://t.co/du3NhbQEth
2022-10-07 21:45:01+00:00 1578501677157490690 RT @KSUBizDean: Are you a K-State student with an idea for a product or service?  If so, our Entrepreneurship program wants to hear you pit‚Ä¶
2022-10-07 15:25:10+00:00 1578406085089689600 RT @KStateBusiness: Make sure you head to our insta account tomorrow to follow Byron Sides, Oper. &amp; Supply Chain Mangt major &amp;  @kstatespor‚Ä¶

### Prettify the Twitter data then get more data

In [12]:
import json

In [22]:
# for status in tweepy.Cursor(api.search_tweets,q="KStateBusiness",
#                             until='2022-10-11', #Twitter will automatically sample the last 7 days of data, and only allows you to get 7-day data
#                             result_type='recent',
#                             include_entities=True,
#                             tweet_mode='extended', #otherwise it only captures 140 characters
#                             lang="en").items(5):
    
#     data = status._json #only query the json data from status
#     print(json.dumps(data, indent=4)) #please do not print all of the contents to the lab assignment submission, this is just for an illustration in class

### Store the json data into a list

In [15]:
# Get entire JSON File and store in a list called tweets_data[]
# create an empty list to store our tweets in
tweets_data = []

for status in tweepy.Cursor(api.search_tweets,q="KStateBusiness",
                            until='2022-10-11', #Twitter will automatically sample the last 7 days of data, and only allows you to get 7-day data
                            result_type='recent',
                            include_entities=True,
                            tweet_mode='extended', #otherwise it only captures 140 characters
                            lang="en").items(5):
    
    data = status._json #only query the json data from status
    json_clean = json.dumps(data, indent=4) #convert the dictionary to string #formatted json data
    tweets_data.append(json.loads(json_clean)) # store the json data into list tweets_data[]
    
# lets see how many we got
print(len(tweets_data))

5

### Store the list into a pandas dataframe

In [16]:
alltweets = pd.DataFrame(tweets_data)
alltweets

,created_at,id,id_str,full_text,truncated,display_text_range,entities,extended_entities,metadata,source,...,place,contributors,is_quote_status,retweet_count,favorite_count,favorited,retweeted,possibly_sensitive,lang,retweeted_status
0,Mon Oct 10 16:47:02 +0000 2022,1579513851384852482,1579513851384852482,We can't wait to hear your ideas for new ventu...,False,"[0, 168]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 1579513847605563393, 'id_str...","{'iso_language_code': 'en', 'result_type': 're...","<a href=""https://sproutsocial.com"" rel=""nofoll...",...,None,None,False,0,3,False,False,False,en,NaN
1,Sat Oct 08 21:21:27 +0000 2022,1578858135539789825,1578858135539789825,RT @EPedersenKS: Love being a part of this boa...,False,"[0, 140]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,"{'iso_language_code': 'en', 'result_type': 're...","<a href=""https://mobile.twitter.com"" rel=""nofo...",...,None,None,False,1,0,False,False,NaN,en,{'created_at': 'Sat Oct 08 00:24:03 +0000 2022...
2,Sat Oct 08 00:24:03 +0000 2022,1578541696794517504,1578541696794517504,"Love being a part of this board. Engaged, smar...",False,"[0, 247]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 1578541691480465408, 'id_str...","{'iso_language_code': 'en', 'result_type': 're...","<a href=""http://twitter.com/download/iphone"" r...",...,None,None,False,1,9,False,False,False,en,NaN
3,Fri Oct 07 21:45:01 +0000 2022,1578501677157490690,1578501677157490690,RT @KSUBizDean: Are you a K-State student with...,False,"[0, 140]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,"{'iso_language_code': 'en', 'result_type': 're...","<a href=""http://twitter.com/download/iphone"" r...",...,None,None,False,2,0,False,False,False,en,{'created_at': 'Fri Oct 07 15:23:58 +0000 2022...
4,Fri Oct 07 15:25:10 +0000 2022,1578406085089689600,1578406085089689600,RT @KStateBusiness: Make sure you head to our ...,False,"[0, 148]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,"{'iso_language_code': 'en', 'result_type': 're...","<a href=""https://mobile.twitter.com"" rel=""nofo...",...,None,None,False,1,0,False,False,NaN,en,{'created_at': 'Fri Oct 07 14:36:43 +0000 2022...

In [9]:
#display the full texts
pd.options.display.max_colwidth = 500

In [10]:
alltweets.to_csv("allsample1.csv", index=False)

### Find more data

In [11]:
for status in tweepy.Cursor(api.search_tweets,q="KStateBusiness",
                            until='2022-09-27', #Twitter will automatically sample the last 7 days of data, and only allows you to get 7-day data
                            result_type='recent',
                            include_entities=True,
                            tweet_mode='extended', #otherwise it only captures 140 characters
                            lang="en").items(5):
    
    userID = status.user.id_str
    userName = status.user.name
    screenName = status.user.screen_name
    userLocation = status.user.location
    user_descrip = status.user.description
    user_url = status.user.url
    followers = status.user.followers_count
    friends = status.user.friends_count
    user_ctime = status.user.created_at #user's account creating time
    source = status.source #iPhone or Android or Web

    print(userID, userName,screenName,userLocation,user_descrip,user_url,followers, friends, user_ctime, source)

### Put them together and store the data into Pandas dataframe (Full scraper for Twitter search)

In [29]:
tweets = [] #initialize an empty list

for status in tweepy.Cursor(api.search_tweets,q="KStateBusiness",
                            until='2022-10-11', #Twitter will automatically sample the last 7 days of data, and only allows you to get 7-day data
                            result_type='recent',
                            include_entities=True,
                            tweet_mode='extended', #otherwise it only captures 140 characters
                            lang="en").items(5):
    
    post_time = status.created_at # tweets posting time
    tweet_id = status.id_str # gets the tweets thread ID
    tweet = status.full_text # gets the tweets texts
    userID = status.user.id_str
    userName = status.user.name
    screenName = status.user.screen_name
    userLocation = status.user.location
    user_descrip = status.user.description
    user_url = status.user.url
    followers = status.user.followers_count
    friends = status.user.friends_count
    user_ctime = status.user.created_at #user's account creating time
    source = status.source #iPhone or Android
    
    tweets.append((userName, screenName, userID, userLocation, user_descrip, user_url, followers, friends, user_ctime, source, 
                   post_time, tweet_id, tweet))

headers = ['userName', 'screenName', 'userID', 'userLocation', 'user_descrip', 'user_url', 'followers', 'friends', 'user_ctime',
           'source', 'post_time', 'tweet_id', 'tweet_text']

tweet_sample = pd.DataFrame(tweets,columns = headers)
tweet_sample.head()

,userName,screenName,userID,userLocation,user_descrip,user_url,followers,friends,user_ctime,source,post_time,tweet_id,tweet_text
0,K-State Business,KStateBusiness,162129701,"Manhattan, KS",The K-State College of Business Administration...,https://t.co/0FEZ1as4wo,3185,456,2010-07-02 19:57:20+00:00,Sprout Social,2022-10-10 16:47:02+00:00,1579513851384852482,We can't wait to hear your ideas for new ventu...
1,Lucy,Lucy68262661,1577067632460632066,Los Angeles,I'm so good at sleeping i can do it with my ey...,None,1,31,2022-10-03 22:46:48+00:00,Twitter Web App,2022-10-08 21:21:27+00:00,1578858135539789825,RT @EPedersenKS: Love being a part of this boa...
2,Erik Pedersen,EPedersenKS,1357848338,"Andover, KS",President and COO of NetWork Kansas (KS Center...,https://t.co/XJntTVmCRP,1487,1069,2013-04-16 20:45:41+00:00,Twitter for iPhone,2022-10-08 00:24:03+00:00,1578541696794517504,"Love being a part of this board. Engaged, smar..."
3,K-State Business,KStateBusiness,162129701,"Manhattan, KS",The K-State College of Business Administration...,https://t.co/0FEZ1as4wo,3185,456,2010-07-02 19:57:20+00:00,Twitter for iPhone,2022-10-07 21:45:01+00:00,1578501677157490690,RT @KSUBizDean: Are you a K-State student with...
4,Kevin Gwinner,KSUBizDean,3344349911,,Dean of the Kansas State University \nCollege ...,None,763,169,2015-06-24 17:42:06+00:00,Twitter Web App,2022-10-07 15:25:10+00:00,1578406085089689600,RT @KStateBusiness: Make sure you head to our ...

In [13]:
tweet_sample.to_csv("tweetsample.csv")

### Action 1: Collect Tweets (at least 200 tweets) from any Topic interesting to you using the example, and store it into pandas dataframe.

1. only show the first five rows (using .head())
2. add two new data/variables besides the example includes, such as verification info ('verified'), the number of retweets ('retweet_count')

In [23]:
tweets = [] #initialize an empty list

for status in tweepy.Cursor(api.search_tweets,q="Marathon",
                            until='2022-10-11', #Twitter will automatically sample the last 7 days of data, and only allows you to get 7-day data
                            result_type='recent',
                            include_entities=True,
                            tweet_mode='extended', #otherwise it only captures 140 characters
                            lang="en").items(5):
    
    post_time = status.created_at # tweets posting time
    tweet_id = status.id_str # gets the tweets thread ID
    tweet = status.full_text # gets the tweets texts
    userID = status.user.id_str
    userName = status.user.name
    screenName = status.user.screen_name
    userLocation = status.user.location
    user_descrip = status.user.description
    user_url = status.user.url
    followers = status.user.followers_count
    friends = status.user.friends_count
    user_ctime = status.user.created_at #user's account creating time
    source = status.source #iPhone or Android
    place = status.place
    retweet_count = status.retweet_count
    
    tweets.append((userName, screenName, userID, userLocation, user_descrip, user_url, followers, friends, user_ctime, source, 
                   post_time, tweet_id, tweet, place, retweet_count))

headers = ['userName', 'screenName', 'userID', 'userLocation', 'user_descrip', 'user_url', 'followers', 'friends', 'user_ctime',
           'source', 'post_time', 'tweet_id', 'tweet_text', 'place', 'retweetCount']

tweet_sample = pd.DataFrame(tweets,columns = headers)
tweet_sample.head()

,userName,screenName,userID,userLocation,user_descrip,user_url,followers,friends,user_ctime,source,post_time,tweet_id,tweet_text,place,retweetCount
0,ChiarablueMD,KeriCrewsonMD,17291463,"Edmonton, Alberta, Canada","MD, 4mer chem/bio tchr. Story weaver, best bed...",None,8198,7047,2008-11-10 18:14:08+00:00,Twitter for iPad,2022-10-10 23:59:49+00:00,1579622764964900865,"@blikethecheese LOL, you can‚Äôt be too lazy, it...",None,0
1,Straightly Put,bushiname,1004204969090678784,"Bellevue, WA",Using computers by programming languages. Expe...,None,140,630,2018-06-06 03:34:56+00:00,Twitter for iPhone,2022-10-10 23:59:48+00:00,1579622757650042880,@DBurkland @gg4175 @ElectrifyAm @Tesla @elonmu...,None,0
2,‚ú¶ √¶lias ‚ú¶,kiseki_berri,1466075646388486153,Ich Liebe Dich,‚ÄúI wish to remain an eternal enigma to myself ...,None,38,174,2021-12-01 16:04:30+00:00,Twitter for iPhone,2022-10-10 23:59:46+00:00,1579622752910467072,its okay- its not thaaaaat bad :D ALSO NOICE M...,None,0
3,Cory McKane üá∫üá¶,CoryMckane,424417685,"Austin, TX",üëã üê¶ Tweet others the way you want to be tweete...,https://t.co/sO9Flvxwjn,2242,509,2011-11-29 19:04:21+00:00,Twitter for iPhone,2022-10-10 23:59:38+00:00,1579622717225021441,We out here improving on every run üëÄ \n\nMarat...,Place(_api=<tweepy.api.API object at 0x7fc21a2...,0
4,Christian Jones,chris_jones774,1246630296860196864,,Graduate Student UC Davis Department of Politi...,None,25,332,2020-04-05 02:46:49+00:00,Twitter for Android,2022-10-10 23:59:26+00:00,1579622666415529984,RT @Mara_Suttmann: In case anyone needs some g...,None,1

## Example 2: get tweets from a specific user's page

In [25]:
# Get data from your own Twitter page (from timeline)
# for myself in tweepy.Cursor(api.home_timeline).items(10):
#     print(myself) #please do not print all of the contents to the lab assignment submission, this is just for an illustration in class

In [ ]:
# Get data from the friends (the users we are following)
friends = []
for friend in tweepy.Cursor(api.get_friends).items(): #https://github.com/tweepy/tweepy/releases/tag/v4.0.0
    jdata = friend._json 
    cleanj = json.dumps(jdata, indent=4) 
    friends.append(json.loads(cleanj)) 
    
fridf = pd.DataFrame(friends)
fridf.head()

## Action 2: get data from your friends to Pandas Dataframe (at least 20 tweets)

1. get at least 20 variables (columns), such as tweets text ('text'), url, followers_count

In [26]:
# Get data from the friends (the users we are following)
friends = []
for friend in tweepy.Cursor(api.get_friends).items(): #https://github.com/tweepy/tweepy/releases/tag/v4.0.0
    jdata = friend._json 
    cleanj = json.dumps(jdata, indent=4) 
    friends.append(json.loads(cleanj)) 
    
fridf = pd.DataFrame(friends)
fridf.head()

,id,id_str,name,screen_name,location,description,url,entities,protected,followers_count,...,default_profile_image,following,live_following,follow_request_sent,notifications,muting,blocking,blocked_by,translator_type,withheld_in_countries
0,1488707239,1488707239,Apex Legends News,alphaINTEL,Storm Point,"Apex Legends, Apex Mobile & Titanfall News, Up...",https://t.co/cGPzkPSZ0Y,{'url': {'urls': [{'url': 'https://t.co/cGPzkP...,False,1024075,...,False,True,False,False,False,False,False,False,none,[]
1,2557521,2557521,ESPN,espn,,Serving sports fans. Anytime. Anywhere.,https://t.co/MJhKyVN8QD,{'url': {'urls': [{'url': 'https://t.co/MJhKyV...,False,42376681,...,False,True,False,False,False,False,False,False,regular,[]

In [14]:
# Get data from other users' pages
KSBS = []

Kstate_B = api.user_timeline(screen_name='KStateBusiness', #https://twitter.com/KStateBusiness
                           count=100, # 200 is the maximum allowed count
                           tweet_mode = 'extended'
                             # Necessary to keep full_text, otherwise only the first 140 words are extracted
                           )

for KSBS_tweet in Kstate_B[:5]: #extracting 5 latest tweets
    jKSBS = KSBS_tweet._json 
    cleanj_KSBS = json.dumps(jKSBS, indent=4) 
    KSBS.append(json.loads(cleanj_KSBS)) 
    
KSBSdf = pd.DataFrame(KSBS)
KSBSdf.head()

,created_at,id,id_str,full_text,truncated,display_text_range,entities,source,in_reply_to_status_id,in_reply_to_status_id_str,...,quoted_status_permalink,quoted_status,retweet_count,favorite_count,favorited,retweeted,possibly_sensitive,lang,extended_entities,retweeted_status
0,Sun Sep 25 04:19:50 +0000 2022,1573889994099499009,1573889994099499009,#catsmeanbusiness @MartinezTheQB https://t.co/...,False,"[0, 32]","{'hashtags': [{'text': 'catsmeanbusiness', 'in...","<a href=""http://twitter.com/download/iphone"" r...",None,None,...,"{'url': 'https://t.co/PKlrVZvQuK', 'expanded':...",{'created_at': 'Sun Sep 25 03:20:07 +0000 2022...,0,4,False,False,False,qme,NaN,NaN
1,Fri Sep 23 17:06:36 +0000 2022,1573358179580350464,1573358179580350464,Shout out to @kstatecareer for bringing outsta...,False,"[0, 231]","{'hashtags': [], 'symbols': [], 'user_mentions...","<a href=""https://mobile.twitter.com"" rel=""nofo...",None,None,...,NaN,NaN,2,6,False,False,False,en,"{'media': [{'id': 1573358140590112769, 'id_str...",NaN
2,Thu Sep 22 15:01:30 +0000 2022,1572964310808203266,1572964310808203266,Congratulations and welcome to our 2022-23 Men...,False,"[0, 94]","{'hashtags': [], 'symbols': [], 'user_mentions...","<a href=""https://mobile.twitter.com"" rel=""nofo...",None,None,...,NaN,NaN,1,5,False,False,False,en,"{'media': [{'id': 1572964261302870016, 'id_str...",NaN
3,Wed Sep 21 12:16:23 +0000 2022,1572560371541766152,1572560371541766152,RT @KSUBizDean: Celebrating 53 College of Busi...,False,"[0, 140]","{'hashtags': [], 'symbols': [], 'user_mentions...","<a href=""http://twitter.com/download/iphone"" r...",None,None,...,NaN,NaN,1,0,False,False,NaN,en,NaN,{'created_at': 'Wed Sep 21 00:17:41 +0000 2022...
4,Tue Sep 20 21:25:09 +0000 2022,1572336083928752134,1572336083928752134,"September is a busy month of networking, and m...",False,"[0, 284]","{'hashtags': [{'text': 'catsmeanbusiness', 'in...","<a href=""https://sproutsocial.com"" rel=""nofoll...",None,None,...,NaN,NaN,0,1,False,False,False,en,"{'media': [{'id': 1572336048432189440, 'id_str...",NaN

## Action 3: get data from a celebrity's Twitter page to Pandas Dataframe (at least 20 tweets)

1. get at least 20 variables (columns).

In [27]:
KSBS = []

Kstate_B = api.user_timeline(screen_name='GordonRamsay', #https://twitter.com/KStateBusiness
                           count=100, # 200 is the maximum allowed count
                           tweet_mode = 'extended'
                             # Necessary to keep full_text, otherwise only the first 140 words are extracted
                           )

for KSBS_tweet in Kstate_B[:5]: #extracting 5 latest tweets
    jKSBS = KSBS_tweet._json 
    cleanj_KSBS = json.dumps(jKSBS, indent=4) 
    KSBS.append(json.loads(cleanj_KSBS)) 
    
KSBSdf = pd.DataFrame(KSBS)
KSBSdf.head()

,created_at,id,id_str,full_text,truncated,display_text_range,entities,extended_entities,source,in_reply_to_status_id,...,coordinates,place,contributors,is_quote_status,retweet_count,favorite_count,favorited,retweeted,possibly_sensitive,lang
0,Mon Oct 10 08:10:45 +0000 2022,1579383921351221248,1579383921351221248,Exciting news guys... Street Pizza is coming t...,False,"[0, 165]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 1579383806582263809, 'id_str...","<a href=""http://twitter.com/download/iphone"" r...",None,...,None,None,None,False,53,740,False,False,False,en
1,Sun Oct 09 08:15:11 +0000 2022,1579022653175713792,1579022653175713792,Wake up it's a beautiful morning... for a deli...,False,"[0, 111]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 1579022554022514689, 'id_str...","<a href=""http://twitter.com/download/iphone"" r...",None,...,None,None,None,False,103,1689,False,False,False,en
2,Sat Oct 08 08:18:13 +0000 2022,1578661026244894720,1578661026244894720,New on the menu at Savoy Grill... Hazelnut cho...,False,"[0, 96]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 1578660998843621376, 'id_str...","<a href=""http://twitter.com/download/iphone"" r...",None,...,None,None,None,False,42,582,False,False,False,en
3,Fri Oct 07 08:07:41 +0000 2022,1578295986161471488,1578295986161471488,The one and only JFC burger over at Street Bur...,False,"[0, 69]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 1578295940162674688, 'id_str...","<a href=""http://twitter.com/download/iphone"" r...",None,...,None,None,None,False,89,1103,False,False,False,en
4,Thu Oct 06 15:00:00 +0000 2022,1578037364244578305,1578037364244578305,No matter the age any chef has to stand the he...,False,"[0, 127]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 1577999261693771777, 'id_str...","<a href=""https://studio.twitter.com"" rel=""nofo...",None,...,None,None,None,False,53,488,False,False,False,en