# Python Fuctions

In [19]:
# create a fuction In Python a function is defined using the def keyword:
def my_function():
  print("Hello from a function")

In [20]:
# calling a fuction
my_function()

Hello from a function

## Arguments/Parameters

Information can be passed into functions as arguments or parameters.

Arguments/parameters are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

From a function's perspective:
- A parameter is the variable listed inside the parentheses in the function definition.
- An argument is the value that is sent to the function when it is called.

The following example has a function with one argument (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name:

In [21]:
# one argument
def fullname(fname):
  print(fname + " Smith")

In [22]:
fullname("John")
fullname("Jane")
fullname("Will")

John Smith
Jane Smith
Will Smith

In [23]:
# two arguments
def fullname2(fname,lname):
    print(fname,"_",lname)

In [24]:
#a function must be called with the correct number of arguments.
fullname2("John","Smith")  
fullname2("Jane","Smith")
fullname2("Will","Smith")

John _ Smith
Jane _ Smith
Will _ Smith

In [25]:
#If the number of arguments is unknown, add a * before the parameter:
def people(*names):
  print("The famous actor is " + names[2] + " "+"Smith.")

people("John", "Jane", "Will")

The famous actor is Will Smith.

**Keyword Arguments**
You can also send arguments with the key = value syntax.
This way the order of the arguments does not matter.

In [26]:
def people2(name1,name2,name3):
  print("The famous actor is " + name1 + " "+"Smith.")

people2(name3="John", name2="Jane", name1="Will")

The famous actor is Will Smith.

**Passing a List as an Argument**

You can send any data types of argument to a function (string, number, list, dictionary etc.), and it will be treated as the same data type inside the function.

E.g. if you send a List as an argument, it will still be a List when it reaches the function:

In [27]:
def eat(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

eat(fruits)

apple
banana
cherry

**Return Values**


To let a function return a value, use the return statement:

In [28]:
def cal(x):
  return 5 * x

print(cal(3))
print(cal(5))

15
25

**The pass Statement**

function definitions cannot be empty, but if you for some reason have a function definition with no content, put in the pass statement to avoid getting an error when empty code is not allowed. Empty code is not allowed in loops, function definitions, class definitions, or in if statements.

In [29]:
def passe():
  pass

**Action 1:** let's write a fuction to print the sentiment values

In [30]:
sentiment = 0

print(sentiment, "positive" if sentiment > 0 else "neutral" if sentiment == 0 else "negative")

0 neutral

In [31]:
def sentiment(polarity):
    if polarity > 0:
        return "This is positive."
    elif polarity == 0:
        return "This is neutral."
    else:
        return "This is negative."

In [32]:
pol = 0

sentiment(pol)

'This is neutral.'

In [33]:
pols = [0.5, 2, 0, 0, -3, -0.01]

for pol in pols:
    print(sentiment(pol))

This is positive.
This is positive.
This is neutral.
This is neutral.
This is negative.
This is negative.

## Lambda

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

In [34]:
# Add 10 to argument a, and return the result:
x = lambda a : a + 10
print(x(5))

15

In [35]:
# Multiply argument a with argument b and return the result:
x = lambda a, b : a * b
print(x(5, 6))

30

In [36]:
# Action 2: Can you use lambda to write a fuction return the results of "a+b+c"?
x = lambda a, b, c : a + b + c
print(x(1,2,3))

6

**Why Use Lambda Functions?**

The power of lambda is better shown when you use them as an anonymous function inside another function.

Say you have a function definition that takes one argument, and that argument will be multiplied with an unknown number:

In [37]:
def myfunc(n):
  return lambda a : a * n

doubler = myfunc(2)
tripler = myfunc(3)

print(doubler(11))
print(tripler(11))

22
33

Use lambda for data cleaning:

In [38]:
# remove all the useless symbols
import re

text = "What is this?/$%^&*"

print(re.sub("[^a-zA-Z]+", " ", text))

What is this

In [39]:
# use lambda
import pandas as pd

texts = ["What is this?/$%^&*","This is an apple. *&^%", "This is a pen. #$%^"]

df = pd.DataFrame(texts) #put your data into pandas dataframe
df

                        0
0     What is this?/$%^&*
1  This is an apple. *&^%
2     This is a pen. #$%^

In [40]:
print(df[0].apply(lambda clean: re.sub("[^a-zA-Z]+", " ", clean)))

0        What is this
1    This is an apple
2       This is a pen
Name: 0, dtype: object

In [41]:
df[1] = df[0].str.replace("[^a-zA-Z]+", " ")
df

<ipython-input-41-c2c2fd37448c>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df[1] = df[0].str.replace("[^a-zA-Z]+", " ")

                        0                  1
0     What is this?/$%^&*      What is this
1  This is an apple. *&^%  This is an apple
2     This is a pen. #$%^     This is a pen

In [42]:
for text in texts:
    text_clean = re.sub(r"[^a-zA-Z0-9]+",' ',text)
    print(text_clean)

What is this
This is an apple
This is a pen