In [2]:
import pandas as pd
df = pd.DataFrame({'ID': ['Area1', 'Area1', 'Area2', 'Area2', 'Area3', 'Area3', 'Area4', 'Area4'], 
                   'Value': [100, 120, 90, 80, 140, 30, 260, 210], 
                   'Date': pd.date_range('20190821', periods=8)}) 
df[df['Value'] > 100]

      ID  Value       Date
1  Area1    120 2019-08-22
4  Area3    140 2019-08-25
6  Area4    260 2019-08-27
7  Area4    210 2019-08-28

In [3]:
df.groupby('ID', as_index=False)['Value'].sum()

      ID  Value
0  Area1    220
1  Area2    170
2  Area3    170
3  Area4    470