# CHALLENGE LAB 2

In [ ]:
# Yuto Wada yuto808263@ksu.edu

# VARIABLES

In [4]:
# Example 1
dog_name = 'Furbert'
age = 9
is_vaccinated = True
height = 1.1
birth_year = 2014

'Furbert'

In [2]:
# Action 1 Required: Overwrite the dog's name and output it
dog_name = "Waterboy"
print("Dogs name is: " + dog_name)

Dogs name is: Waterboy

In [6]:
# Example 2
my_dog = " is great!"    # a string
print(dog_name + my_dog)

Furbert is great!

In [58]:
# Example 3
# print dog_name and a number     # can't add a number and a string
print('%s %s' %(dog_name, age))
print('%s%s' %(dog_name, age))

Waterboy 21
Waterboy21

In [59]:
# Action 2 Required: Print your dog name concatenated with its age (both with and without a space like in example 3)
dog_name = "Waterboy"
print('%s %s' %(dog_name, age))
print('%s%s' %(dog_name, age))

Waterboy 21
Waterboy21

In [61]:
# Action 3 Required: Declare multiple variables (string, integer, float) and display them
name = "Yuto Wada"
age = 21
height = 165.2
weight = 135
pet_name = "Pumpkin"

print(name)
print(age)
print(height)
print(weight)
print(pet_name)

Yuto Wada
21
165.2
135
Pumpkin

In [18]:
# Action 4 Required: Concatonate your variables in various ways (at least 5 and display the outputs)
print('My name is %s and I am %s years old. I am %s meters tall and weight %s lbs and I have a pet name %s' %(name, age, height, weight, pet_name))

My name is Yuto Wada and I am 21 years old. I am 165.2 meters tall and weight 135 lbs and I have a pet name Pumpkin

### Example 3b: Basic format or argument specifiers you can use:

%s - String (or any object with a string representation, like numbers)

%d - Integers

%f - Floating point numbers

%.<number of digits>f - Floating point numbers with a fixed amount of digits to the right of the dot.

# BASIC OPERATORS

In [22]:
# Example 4
G = "Go"
O = "100"
C = "Cats"
A = "200"
T = "500"
S = "STOP"

In [21]:
# Action 5 Required: Concatonate Variables G and C in a way that makes sense and display the output
print('%s %s' %(G, C))

Go Cats

In [35]:
# Example 5

# a + b    Adds a to b
# a - b    Subtract b from a
# a * b    Multiply a by b
# a / b    Divide a by b
# b % a    Divides b by a and returns remainder
# a ** b   a raised to the power of b

In [29]:
# Action 5b Required: Create a new variable called my_power that is equal to 2. 
# Then create one example of each operator shown in exercise 5 using the variables in Example #4.
# my_power should be used for your exponent 
my_power = 2
print(my_power + int(O))
print(my_power - int(A))
print(my_power * int(T))
print(my_power / int(O))
print(int(A) % my_power)
print(my_power ** int(T))

102
-198
1000
0.02
0
3273390607896141870013189696827599152216642046043064789483291368096133796404674554883270092325904157150886684127560071009217256545885393053328527589376

# LOGICAL OPERATORS

In [31]:
# Example 6
a = 1
b = 2
c = 3
d = True
e = "cool"

In [32]:
# Action 6 Required: Code this expression and run it: a == e or d and c > b
(a == e) or (d and (c > b))

True

In [34]:
# Action 7 Required: Code this expression and run it: not a == e or d and not c > a
not(a == e) or (d and not(c > a))

True

In [ ]:
# Action 8 Required: Create a comment that explains why the answers in Actions 6 and 7 are different if they are!
# For action 6, a == e part will result in false since they are not the same data type, the second part of the expression
#Looks at the c > b part first. C is greater than B so this returns true. Now we have d and true, and D is true so this
# expression is true and true which is true. Now the overall expression is False or True, which result in True since one
# of the expression is True.

#For action 7, not(a == e) is negation, meaning that it will flip the result of the expression. a == e returns False, and
# if we flip the result, we will get True. In this case, we don't have to evaluate the second part of the expression since
# the overall expression is connected with or and we have one part that is true.

# DATA STRUCTURES

In [38]:
# Example 7 Data Structures with Dictionary, Values, and Lists. 
state_city = [
{'Arizona': 'Phoenix', 'California': 'Sacramento', 'Hawaii': 'Honolulu', 'Michigan': 'De Tour Village'},
1000,
2000,
3000,
['hat', 't-shirt', 'jeans', {'socks1': 'red', 'socks2': 'blue'}]]

In [36]:
state_city

NameError: name 'state_city' is not defined

In [39]:
# Action 9 Required: Return 2000 on your screen
print(state_city[2])

2000

In [40]:
# Action 10 Required: Return the dictionary of the cities and states on your screen
print(state_city[0])

{'Arizona': 'Phoenix', 'California': 'Sacramento', 'Hawaii': 'Honolulu', 'Michigan': 'De Tour Village'}

In [41]:
# Action 11 Required: Return the list of the clothes on your screen
print(state_city[4])

['hat', 't-shirt', 'jeans', {'socks1': 'red', 'socks2': 'blue'}]

In [43]:
# Action 12 Required: Return 'De Tour Village' on your screen
print(state_city[0]["Michigan"])

De Tour Village

In [44]:
# Action 13 Required: Return the word 'jeans' on your screen
print(state_city[4][2])

jeans

In [45]:
# Action 14 Required: Return the word 'blue' on your screen
print(state_city[4][3]["socks2"])

blue

# FUNCTIONS AND METHODS

In [46]:
# Action 15 Required: Return the length of the city associated with California from Example 7 
# (Do not recode the string, use the one from the data structure)
print(len(state_city[0]["California"]))

10

In [48]:
# Action 16 Required: Return the MAX value from the three numbers in Example 7
print(state_city[3])

3000

In [49]:
# Action 17 Required: Return the name of your dog from Example 1 
# (you have overwritten the name remember) in all upper case letters.
print(dog_name.upper())

WATERBOY

In [2]:
# Example 8
white_space_example = '       April                 Wine        '

In [52]:
# Action 18 Required: Strip all leading and trailing 'white space' from Example 8
print(white_space_example.strip())

April                 Wine

In [3]:
# Action 19 Required: Replace all white speace (leading, trailing and internal) from the value in Example 8
# hint, use this form: ' '.join(myvariable.split())
"".join(white_space_example.split())

'AprilWine'

In [5]:
# Action 20 Required: Split the 'clean' version of Example 8 into two separate words.
" ".join(white_space_example.split())

'April Wine'

In [54]:
# Action 21 Required: Replace the white space in the city associated with Michigan in Example 7 with the letter 'x'
print(state_city[0]["Michigan"].replace(" ", "x"))

DexTourxVillage

In [57]:
# Action 22 Required: Remove the 3 numeric values from Example 7 using a method and print out the data structure
for element in state_city:
    if type(element) == int:
        state_city.remove(element)
print(state_city)

[{'Arizona': 'Phoenix', 'California': 'Sacramento', 'Hawaii': 'Honolulu', 'Michigan': 'De Tour Village'}, ['hat', 't-shirt', 'jeans', {'socks1': 'red', 'socks2': 'blue'}]]