### NOTICE:

1. Mechanical correctness of your python codes: your codes must be accurate
2. Clarity of jupyter notebook and organization of outputs:

- The python codes you write must be accompanied with "comments" using # or markdown
- All outputs must be visible in your jupyter notebook. If necessary, explain the outputs using markdown.
- **Do not print out an entire output. Print the first five rows**

3. Formatting: **"This exam must contain K-State Honor Code "On my honor, as a student, I have neither given nor received unauthorized aid on this academic work."** 

 - A **grade of XF** can result from a breach of academic honesty. The F indicates failure in the course; the X indicates the reason is an Honor Pledge violation.” (http://www.k-state.edu/provost/resources/teaching/course.htm (Links to an external site.)) (See Academic Dishonesty below). 
- **Unauthorized collaboration** (including but not limited to collaborating with other students on the midterm exam is forbidden) 
- **Unauthorized aid** (including but not limited to sharing your codes with other students, receiving codes from another)
- **Plagiarism** (including but not limited to copying words of another (on the Internet or articles) as your own)(please credit the references/sources)

**K-State Honor Code**

> "This exam must contain K-State Honor Code "On my honor, as a student, I have neither given nor received unauthorized aid on this academic work."



**Your Name:** 

> Yuto Wada

# Instructions of Fall 2022 MIS 670 Mid-term Exam

1. This is an open book open notes exam. You can use all the course materials as references. You also can Google the examples (please credit the sources), **but collaborations are forbidden and each of you should deliver different results**. 
2. The exam is due on **10/13/2022 at 11:59 PM CT** (in total 7 days [10/06 - 10/13]).
3. No make-up exams and late submission is not allowed.
4. **Total points for this exam are 75.**

## Section 1: Word Cloud Map for customer reviews on Tripadvisor (33 points)

### Part 1: Data collection (15 points)

1. Developer a scraper for Tripadvisor https://www.tripadvisor.com/

2. Collect the customer reviews from one interest (for example: customer reviews for a restaurant in Manhattan, Kansas).

    2.1 You need to give this project a title, formatting is as the following.
    
    `Word Cloud - Customer Review - Restaurant/Hotel/Tourist attraction name - Location` 
      
      <span style="color:red">(**Notice:** each of you should pick a different project, meaning that identical data will be considered plagiarism.)</span>.
     
    2.2 Collect at least 100 customer reviews. 
    
    (select some popular places, must meet the requirements for 100 rows).
    
    2.3 Your data must contain `Cutomer name`,`Post date`,`Review texts`.
    
    2.4 Save your data in to Pandas dataframe and print the first five rows (using .head()).
    
    2.5 Display the data information (using .info()).

### Part 2: Data cleaning (8 points)

1. Display the 55th row in your dataframe.

2. Display the first 5 rows of the ["Customer name"] column only.

3. What is the data type of the ["Post date"] column?

4. Remove useless symbols from the ["Review texts"].

5. Lower the cases of the ["Review texts"].

6. Tokenize the ["Review texts"].

7. Remove the stopwords from ["Review texts"]

8. Display the top 10 words in ["Review texts"] based on the Word Frequency results

### Part 3: Data visualization (Word Cloud) (10 points)

1. Create a word cloud map for the ["Review texts"]

## Section 2: Data Wrangling with Pandas (10 points)

In [2]:
import pandas as pd

In [3]:
#use the nba dataset
#load nba dataset
nba = pd.read_csv("https://cdncontribute.geeksforgeeks.org/wp-content/uploads/nba.csv")

nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

1. Display the descriptive statistics of the nba.

In [4]:
nba.describe(include='all')
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

2. Drop the rows of column ["Salary"] is null and replace the original nba dataframe. 

(Notice: do not drop all the null values in the data. Only drop the null values in column ["Salary"])

In [5]:
#remove rows that contains null values (NaN)
new_nba = nba.dropna()
new_nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0

3. Rename the column ["Name"] to ["Full name"]

In [6]:
new_nba.rename(columns={'Name': 'Full Name'}, inplace=True)
new_nba.head()

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,Full Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0

4. How many Positions for the players (hint: check the unique values)

In [7]:
print(len(nba.Position.unique()))

6

5. Replace the Positon with numbers ("PG":1, "SF":2,"SG":3 ... ) then drop the rows with null values in position.

In [8]:
positions = {"PG": 1, 'SG': 2, 'SF': 3, 'PF': 4, 'C': 5} #Replacing positions with numbers
replace_nba = new_nba.replace({'Position': positions})
replace_nba.head() #print out dataframe

,Full Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,1,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,3,25.0,6-6,235.0,Marquette,6796117.0
3,R.J. Hunter,Boston Celtics,28.0,2,22.0,6-5,185.0,Georgia State,1148640.0
6,Jordan Mickey,Boston Celtics,55.0,4,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,5,25.0,7-0,238.0,Gonzaga,2165160.0

6. Display all the players from position "SG"

In [9]:
replace_nba.loc[replace_nba['Position'] == 2].head()

,Full Name,Team,Number,Position,Age,Height,Weight,College,Salary
3,R.J. Hunter,Boston Celtics,28.0,2,22.0,6-5,185.0,Georgia State,1148640.0
12,Evan Turner,Boston Celtics,11.0,2,27.0,6-7,220.0,Ohio State,3425510.0
13,James Young,Boston Celtics,13.0,2,20.0,6-6,215.0,Kentucky,1749840.0
16,Markel Brown,Brooklyn Nets,22.0,2,24.0,6-3,190.0,Oklahoma State,845059.0
17,Wayne Ellington,Brooklyn Nets,21.0,2,28.0,6-4,200.0,North Carolina,1500000.0

7. Add a new column name ['Random'] with random numbers

In [10]:
import random
replace_nba['Random'] = [random.randint(1,500)  for i in replace_nba.index]
replace_nba.head()

,Full Name,Team,Number,Position,Age,Height,Weight,College,Salary,Random
0,Avery Bradley,Boston Celtics,0.0,1,25.0,6-2,180.0,Texas,7730337.0,392
1,Jae Crowder,Boston Celtics,99.0,3,25.0,6-6,235.0,Marquette,6796117.0,29
3,R.J. Hunter,Boston Celtics,28.0,2,22.0,6-5,185.0,Georgia State,1148640.0,156
6,Jordan Mickey,Boston Celtics,55.0,4,21.0,6-8,235.0,LSU,1170960.0,81
7,Kelly Olynyk,Boston Celtics,41.0,5,25.0,7-0,238.0,Gonzaga,2165160.0,124

8. How much is the average salary for all the players?

(Round the results to 3 decimals)

In [11]:
# Round to specific decimal 
round((nba["Salary"].mean()),3)

4842684.105

9. Who is/are the oldest player(s)?

In [12]:
new_nba = replace_nba.sort_values(by = 'Age', ascending=False)
new_nba.head(2)

,Full Name,Team,Number,Position,Age,Height,Weight,College,Salary,Random
298,Tim Duncan,San Antonio Spurs,21.0,5,40.0,6-11,250.0,Wake Forest,5250000.0,177
304,Andre Miller,San Antonio Spurs,24.0,1,40.0,6-3,200.0,Utah,250750.0,95

10. Who is/are the youngest player(s)?

In [13]:
new_nba = replace_nba.sort_values(by = 'Age', ascending=True)
new_nba.head(2)

,Full Name,Team,Number,Position,Age,Height,Weight,College,Salary,Random
226,Rashad Vaughn,Milwaukee Bucks,20.0,2,19.0,6-6,202.0,UNLV,1733040.0,45
122,Devin Booker,Phoenix Suns,1.0,2,19.0,6-6,206.0,Kentucky,2127840.0,206

## Section 3: Sentiment Analysis for Social Media (32 points)

### Part 1: Data Collection (10 points)

1. Insert your Twitter API keys and scraper the twitter data

In [1]:
import tweepy
import pandas as pd

# put your credential API information here (do not include your API in the submission)
# API Consumer Key and Secret from Twitter
api_key = "WsEUv6afCiNthkSLWHIHn8yUM"
api_secret = "jtg2kd1CFL1txDao6NouIUO7xZzCXSM4yiP4WyuiiqQ50qTtjf"

access_token = "1564294883636088838-jhUHzc9xuIH9WMu6wCPahsWM4LiwaG"
access_token_secret = "vM6EmVcxk3L94D1bVQz19MliIUcSW5uA9660IZk1FQken"

# authentication
auth = tweepy.OAuthHandler(api_key, api_secret)
auth.set_access_token(access_token, access_token_secret)

api = tweepy.API(auth,wait_on_rate_limit=True)

2. Select a keyword that you are interested in then collect **100 tweets**

    2.1 Using tweepy.Cursor(api.search_tweets/tweets,q=" " ...)
    
    2.2 Collecting the following information:
        post_time
        tweet_id
        tweet_text
        retweet_count
        user_name
        user_screen_name
        user_location
        user_followers_count
        
    2.3 Save your data into a Pandas dataframe then display the first five rows (.head())
    
    <span style="color:red">(**Notice:** each of you should choose a different search word, meaning that identical data will be considered plagiarism.)</span>.

In [16]:
tweets = [] #initialize an empty list

for status in tweepy.Cursor(api.search_tweets,q="Chicago Marathon",
                            until='2022-10-11', #Twitter will automatically sample the last 7 days of data, and only allows you to get 7-day data
                            result_type='recent',
                            include_entities=True,
                            tweet_mode='extended', #otherwise it only captures 140 characters
                            lang="en").items(100):
    
    post_time = status.created_at # tweets posting time
    tweet_id = status.id_str # gets the tweets thread ID
    tweet_text= status.full_text # gets the tweets texts
    retweet_count = status.retweet_count
    user_name = status.user.name
    user_screen_name = status.user.screen_name
    user_location = status.user.location
    user_followers_count = status.user.followers_count
    
    tweets.append((post_time, tweet_id, tweet_text, retweet_count, user_name, user_screen_name, user_location, user_followers_count))

headers = ['Post Time', 'Tweet ID', 'TweetText', 'RetweetCount', 'UserName', 'UserScreenName', 'User Location', 'UserFollowerCounts']

tweet_marathon = pd.DataFrame(tweets,columns = headers)
tweet_marathon.head()

,Post Time,Tweet ID,TweetText,RetweetCount,UserName,UserScreenName,User Location,UserFollowerCounts
0,2022-10-10 23:58:44+00:00,1579622492163145730,@sometherapist Friend of mine in her 50s just ...,0,Coddled affluent professional,feelsdesperate,"Okay, Oklahoma",8788
1,2022-10-10 23:56:23+00:00,1579621901089263618,chicago usps reopen mailboxes along the marath...,0,Katt #MCRNJ #MCRNJ2 #MCRRIOT,iridescentKatt,a shithole country,1237
2,2022-10-10 23:56:08+00:00,1579621837319049216,RT @LaCasaNorte: Stop by! We're cheering La Ca...,1,Anne Bowhay,AnneB19,"Oak Park, Illinois",326
3,2022-10-10 23:54:46+00:00,1579621492635361280,"Of local runners from Batavia, participant Mic...",0,Batavia Patch,BataviaPatch,"Batavia, IL",2778
4,2022-10-10 23:54:02+00:00,1579621308987748354,RT @barrybutler9: This morning as Chicago Mara...,391,Paula - Issa's young cute yet disapproving auntie,grooveparlortv,Chicago LA Paris,1862

### Part 2: Data Cleaning (10 points)

1. How many users (use Screen Name) in the dataframe (count the unique values)?

In [17]:
print(len(tweet_marathon.UserScreenName.unique()))

93

2. Who tweets the most?

In [18]:
tweet_marathon['UserScreenName'].value_counts().idxmax()

'ygindia1'

3. Display this person's full information.

In [19]:
tweet_marathon.loc[tweet_marathon['UserScreenName'] == 'KeCheza']

Empty DataFrame
Columns: [Post Time, Tweet ID, TweetText, RetweetCount, UserName, UserScreenName, User Location, UserFollowerCounts]
Index: []

4. Who is the most popular user in the dataset? (has the most number of followers)

In [20]:
tweet_marathon.loc[tweet_marathon["UserFollowerCounts"].idxmax()].UserScreenName

'WBEZ'

5. Display this person's full information.

In [21]:
tweet_marathon.loc[tweet_marathon["UserFollowerCounts"].idxmax()]

Post Time                                     2022-10-10 23:00:14+00:00
Tweet ID                                            1579607768646168580
TweetText             The Chicago Marathon took place this past week...
RetweetCount                                                          2
UserName                                                           WBEZ
UserScreenName                                                     WBEZ
User Location                                                   Chicago
UserFollowerCounts                                               145946
Name: 53, dtype: object

6. Remove the emojis from the tweets texts.

In [22]:
tweet_marathon['TweetText'] = tweet_marathon['TweetText'].str.replace(r'[^\x00-\x7F]+', '', regex=True)
tweet_marathon.head()

,Post Time,Tweet ID,TweetText,RetweetCount,UserName,UserScreenName,User Location,UserFollowerCounts
0,2022-10-10 23:58:44+00:00,1579622492163145730,@sometherapist Friend of mine in her 50s just ...,0,Coddled affluent professional,feelsdesperate,"Okay, Oklahoma",8788
1,2022-10-10 23:56:23+00:00,1579621901089263618,chicago usps reopen mailboxes along the marath...,0,Katt #MCRNJ #MCRNJ2 #MCRRIOT,iridescentKatt,a shithole country,1237
2,2022-10-10 23:56:08+00:00,1579621837319049216,RT @LaCasaNorte: Stop by! We're cheering La Ca...,1,Anne Bowhay,AnneB19,"Oak Park, Illinois",326
3,2022-10-10 23:54:46+00:00,1579621492635361280,"Of local runners from Batavia, participant Mic...",0,Batavia Patch,BataviaPatch,"Batavia, IL",2778
4,2022-10-10 23:54:02+00:00,1579621308987748354,RT @barrybutler9: This morning as Chicago Mara...,391,Paula - Issa's young cute yet disapproving auntie,grooveparlortv,Chicago LA Paris,1862

7. How many retweets (RT @) in the dataset?

In [23]:
# View retweets only (tweets contains RT)
retweets = tweet_marathon.TweetText.str.contains("RT")
len(tweet_marathon[retweets])

64

8. How many original tweets in the dataset?

In [24]:
# view tweets do not contain RT (original tweets)
new_dftweets = tweet_marathon[~tweet_marathon["TweetText"].str.contains("RT")]
print(len(new_dftweets))

36

9. Which tweet has been retweeted the most in the dataset? (find the largest number of retweet_count)

In [25]:
new_tweet_marathon = tweet_marathon.sort_values(by = 'RetweetCount', ascending=False)
new_tweet_marathon.head()

,Post Time,Tweet ID,TweetText,RetweetCount,UserName,UserScreenName,User Location,UserFollowerCounts
81,2022-10-10 22:27:21+00:00,1579599491728281601,RT @WilliamsRuto: Benson Kipruto and Ruth Chep...,534,QSTPS 🏳️‍🌈,qstps21,Planet Earth,672
32,2022-10-10 23:18:16+00:00,1579612306698571776,RT @WilliamsRuto: Benson Kipruto and Ruth Chep...,534,dickson kosgei,dicksonkosgei1,,219
6,2022-10-10 23:52:58+00:00,1579621037771063296,RT @WilliamsRuto: Benson Kipruto and Ruth Chep...,534,Makmende,Makmende_Ke,"Nairobi,Kenya",426
51,2022-10-10 23:01:19+00:00,1579608040747446275,RT @WilliamsRuto: Benson Kipruto and Ruth Chep...,534,Pyromancer,edwin_kibiwot,"Mombasa, Kenya",1781
35,2022-10-10 23:14:04+00:00,1579611251348746241,"RT @nytimes: Emily Sisson, 30, came in to the ...",435,Keith Kelly,kelrock1977,"Jamaica Plain, MA",1253

10. Filter the hashtags from the tweets text and create a new column ["Hashtags"] to save the data

In [26]:
tweet_marathon['hashtags'] = tweet_marathon.TweetText.str.findall("(?<=#)\w+")
tweet_marathon.head()

,Post Time,Tweet ID,TweetText,RetweetCount,UserName,UserScreenName,User Location,UserFollowerCounts,hashtags
0,2022-10-10 23:58:44+00:00,1579622492163145730,@sometherapist Friend of mine in her 50s just ...,0,Coddled affluent professional,feelsdesperate,"Okay, Oklahoma",8788,[]
1,2022-10-10 23:56:23+00:00,1579621901089263618,chicago usps reopen mailboxes along the marath...,0,Katt #MCRNJ #MCRNJ2 #MCRRIOT,iridescentKatt,a shithole country,1237,[]
2,2022-10-10 23:56:08+00:00,1579621837319049216,RT @LaCasaNorte: Stop by! We're cheering La Ca...,1,Anne Bowhay,AnneB19,"Oak Park, Illinois",326,[]
3,2022-10-10 23:54:46+00:00,1579621492635361280,"Of local runners from Batavia, participant Mic...",0,Batavia Patch,BataviaPatch,"Batavia, IL",2778,[]
4,2022-10-10 23:54:02+00:00,1579621308987748354,RT @barrybutler9: This morning as Chicago Mara...,391,Paula - Issa's young cute yet disapproving auntie,grooveparlortv,Chicago LA Paris,1862,"[chicago, news, ChicagoMarathon]"

### Part 3: Sentiment Analysis -- Bing Liu Lexicon (12 points)

1. Conduct a sentiment analysis using Bing Liu Lexicon method to the tweet texts

In [27]:
tweet_marathon['TweetText'] = tweet_marathon['TweetText'].map(lambda x: x.lstrip('+-').rstrip('^a-zA-Z0-9'))
tweet_marathon.head()

,Post Time,Tweet ID,TweetText,RetweetCount,UserName,UserScreenName,User Location,UserFollowerCounts,hashtags
0,2022-10-10 23:58:44+00:00,1579622492163145730,@sometherapist Friend of mine in her 50s just ...,0,Coddled affluent professional,feelsdesperate,"Okay, Oklahoma",8788,[]
1,2022-10-10 23:56:23+00:00,1579621901089263618,chicago usps reopen mailboxes along the marath...,0,Katt #MCRNJ #MCRNJ2 #MCRRIOT,iridescentKatt,a shithole country,1237,[]
2,2022-10-10 23:56:08+00:00,1579621837319049216,RT @LaCasaNorte: Stop by! We're cheering La Ca...,1,Anne Bowhay,AnneB19,"Oak Park, Illinois",326,[]
3,2022-10-10 23:54:46+00:00,1579621492635361280,"Of local runners from Batavia, participant Mic...",0,Batavia Patch,BataviaPatch,"Batavia, IL",2778,[]
4,2022-10-10 23:54:02+00:00,1579621308987748354,RT @barrybutler9: This morning as Chicago Mara...,391,Paula - Issa's young cute yet disapproving auntie,grooveparlortv,Chicago LA Paris,1862,"[chicago, news, ChicagoMarathon]"

In [33]:
#clean up the tweet
tweet_marathon["TweetText"] = tweet_marathon["TweetText"].str.replace(r'https?://[^\s<>"]+|www\.[^\s<>"]+', "")
tweet_marathon['TweetText'] = tweet_marathon["TweetText"].str.replace(r'[^a-zA-Z0-9]+', ' ')
tweet_marathon['TweetText'] = tweet_marathon["TweetText"].str.replace('@#', '')
tweet_marathon['TweetText'] = tweet_marathon["TweetText"].str.replace('\n', '')

/var/folders/1j/79l9x7_16cldqkzdldfx37vh0000gn/T/ipykernel_17127/604676243.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  tweet_marathon["TweetText"] = tweet_marathon["TweetText"].str.replace(r'https?://[^\s<>"]+|www\.[^\s<>"]+', "")
/var/folders/1j/79l9x7_16cldqkzdldfx37vh0000gn/T/ipykernel_17127/604676243.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  tweet_marathon['TweetText'] = tweet_marathon["TweetText"].str.replace(r'[^a-zA-Z0-9]+', ' ')

In [34]:
#read in the file
import re
positive_words = open('Bing_liu_positive.txt', "r").read().splitlines()
negative_words = open('Bing_liu_negative.txt', "r").read().splitlines()
list_tweet = tweet_marathon['TweetText'].to_list()

new_texts = []
new_documents = []
remove = ['br', 's']
flat_review = [''.join(ele) for ele in list_tweet]
documents = [re.sub("[^a-zA-Z]+", " ", document) for document in flat_review]

for review in documents:
    x = review.split()
    new_documents.append(" ".join(a if a not in remove else '' for a in x))

texts = [[word for word in document.lower().split() ] for document in documents]

In [35]:
#Analysis
positive_review = []
negative_review = []
neutral_review = []

for sentence in texts:
    positive = 0
    negative = 0
    for word in sentence:
        if word in positive_words:
            positive += 1
        elif word in negative_words:
            negative += 1
    if positive-negative > 0:
            positive_review.append(sentence)
    elif positive-negative == 0:
        neutral_review.append(sentence)
    else:
        negative_review.append(sentence)
print(len(positive_review), ' positive reviews')
print(len(negative_review), ' negative reviews')
print(len(neutral_review), ' neutral reviews')

66  positive reviews
9  negative reviews
25  neutral reviews

2. How many positive tweets? How many negative tweets?

In [37]:
print(len(positive_review), ' positive tweet')
print(len(negative_review), ' negative tweet')

66  positive tweet
9  negative tweet

3. Save the sentiment analysis results to a new column ["Sentiment"] then display the first 5 rows